# environments
yolo-env/

# output files
runs/

# extra models
*.pt

# Saved images 
training_frames/

# Saved videos 
/data_source/videos/ 

# Tracking Output
tracking_output/ 

# Robot training images 
robot_numbers/robot_number_grabber/

# Training images for scoreboard 
train_models/