# environments
yolo-env/
myenv/
.venv/

# output files
**/runs/
video_files/
*.csv
*/videos/
*.mp4

# videos
videos/

# detections
detections/

# Don't remove scoreboard models within the models directory
!models/*.pt
